%table.table.table-bordered
  %thead
    %tr
      %th
        Star
      %th
        Name

  %tbody
    - repositories.each do |repository|
      %tr
        %td
          = repository.stargazers_count
        %td
          = link_to repository.url do
            #{repository.owner}/
            %strong><
              = repository.name
